# Datatypes

In [5]:
list=[1,2,3,4]
print(type(list))
list[0]=45
print(list)

<class 'list'>
[45, 2, 3, 4]

In [15]:
t=(1,3,4,5)
print(type(t))
print(t)

<class 'tuple'>
(1, 3, 4, 5)

In [10]:
t=(1)
print(type(t))
print(t)

<class 'int'>
1

In [8]:
t=(1,)
print(type(t))
print(t)

<class 'tuple'>
(1,)

In [14]:
s={"a","c","a","b","c"} # It does not follow insertion order,the elements will be randomly orderded
print(type(s))
print(s)

<class 'set'>
{'a', 'b', 'c'}

# operators

In [19]:
sum_of_numbers=10+2
print(sum_of_numbers)
mulOfNumbers=10*10
print(mulOfNumbers)

12
100

In [18]:
d1=5/2 #float division
d2=5//2 #integer div
print(d1)
print(d2)

2.5
2

In [20]:
n1=10%2
n2=10/2
print(n1)
print(n2)

0
5.0

In [22]:
#logical operators
print(1 and 1)
print(0 and 1)
print(1 and 0)

1
0
0

In [30]:
23 and 7

7

In [33]:
7 and 23

23

In [31]:
23 or 7

23

In [28]:
1 and 2

2

In [29]:
2 and 1

1

In [32]:
74 and 31

31

In [34]:
bin(74)

'0b1001010'

In [35]:
bin(31)

'0b11111'

In [38]:
print(bin(74))
type(bin(74))

0b1001010

str

In [41]:
#relational operators <,>,<=,>=,==,!=
1>2

False

In [42]:
10<20

True

In [1]:
#assignment operators

In [2]:
0 and 1

0

In [3]:
7 & 1

1

In [4]:
7 and 1

1

In [5]:
1 and 7

7

In [7]:
7 and 0

0

In [8]:
0 and 7

0

In [6]:
1 & 64

0

In [9]:
1 | 64

65

In [11]:
#membership operator  in  not in-->It checks the given element is present in list or not
l=[1,2,3,4,5]
print(1 in l)
print(3 not in l)

True
False

In [16]:
#identity operator
a=10
print(a is None)

False

In [13]:
a=10
print(a is not None)

True

In [19]:
#ternary operator-->?:--> It has 3 parts
#syntax: (condition) ? True Part : False Part in c 
#if (condition) true part else false part in python

In [26]:
l=[]
l.append(10)
l.append(23.4) #append accepts only 1 argument
l.append(2+5j)
l.append([1,2,3])
print(l)
print(len(l))

[10, 23.4, (2+5j), [1, 2, 3]]
4

In [35]:
ls=[1,2,3,4,5,6]
print(ls.pop())  #pop() operates on index value,if index not given last value will be removed,it is index based,it returns a value
ls

6

[1, 2, 3, 4, 5]

In [36]:
ls=[1,2,3,4,5,6]
ls.pop(1)
ls

[1, 3, 4, 5, 6]

In [33]:
ls=[1,2,3,4,5,6]
ls.remove(3)   #remove() value based,it returns None
ls

[1, 2, 4, 5, 6]

In [38]:
a=[1,2,3,4,5]
a.insert(1,45)  #insert() accepts 2 parameters 1.index 2.object
a

[1, 45, 2, 3, 4, 5]

In [41]:
a=[1,2,3,4]
b=[10,20,30]
a.extend(b)
print(a)
print(b)

[1, 2, 3, 4, 10, 20, 30]
[10, 20, 30]

In [43]:
a=[10,10,20,30,20,30,20,10,40]
res=a.count(10)
res

3

In [45]:
a=[10,10,20,30,20,30,20,10,40]
res=a.count(11)
res

0

In [49]:
a=[10,10,20,30,20,30,20,10,40]
print(len(a))
b=a.copy()
print(b)

9
[10, 10, 20, 30, 20, 30, 20, 10, 40]

In [56]:
a=[10,20,30]
c=[1]
a=c.copy()
print(a)

[1]

In [57]:
a=[11,12,13]
b=a
b[0]=100
print(a)
print(b)

[100, 12, 13]
[100, 12, 13]

In [58]:
a=[11,12,13]
b=a.copy()
b[0]=100
print(a)
print(b)

[11, 12, 13]
[100, 12, 13]

In [61]:
a=[11,12,13,14]
a.clear()
a

[]

In [60]:
a=[1,2,3,4]
a.reverse()
a

[4, 3, 2, 1]

In [62]:
a=[3,1,2]
a.sort()  #ascending order
a

[1, 2, 3]

In [63]:
a=[3,1,2]
b=a.sort()  # it sorts only in existing list
print(a)
print(b)

[1, 2, 3]
None

In [64]:
a=[3,1,2]
a.sort(reverse=True)  #descending order
a

[3, 2, 1]

In [66]:
a=[3,1,2]
b=sorted(a)  # sorted() will not sort in existing list,it will sort in newly assigned list
print("a=",a)
print("b=",b)

a= [3, 1, 2]
b= [1, 2, 3]

In [67]:
a=[3,1,2]
b=sorted(a,reverse=True)
print("a=",a)
print("b=",b)

a= [3, 1, 2]
b= [3, 2, 1]

# Type Conversion

In [71]:
a='1'
b=3
c=int(a)+b
c  #or

4

In [72]:
d=int('5')  #implicit
e=4
print(d+e)

9

In [73]:
a=float('2')  #explicit
b=5
c=a+b
print(c)

7.0

In [75]:
a="Mr. x is "
b=str(36)
c=" years old"
s=a+b+c
print(s)

Mr. x is 36 years old

In [84]:
a=list("12345")   #string to list
print(a)
b=map(int,a)   #map() is used to convert a list to certain datatype
print(b)

['1', '2', '3', '4', '5']
<map object at 0x0000016BC4367580>

In [85]:
a=list("12345")
print(a)
b=list(map(int,a))
print(b)

['1', '2', '3', '4', '5']
[1, 2, 3, 4, 5]

In [86]:
a=list("12345a")
print(a)
b=list(map(int,a)) #because a is not an integer
print(b)

['1', '2', '3', '4', '5', 'a']

ValueError: invalid literal for int() with base 10: 'a'

In [88]:
a=input("enter a number1:")
b=input("enter a number2:")
c=a+b
c

enter a number1:1
enter a number2:2

'12'

In [89]:
a=int(input("enter a number1:"))
b=int(input("enter a number2:"))
c=a+b
c

enter a number1:1
enter a number2:2

3