# set methods

In [12]:
#set methods
s1={1,2,3,4}
s2={3,4,5,6}
r1=s1.intersection(s2)
print(r1)
r2=s1.union(s2)
print(r2)
r3=s1.difference(s2)
print(r3)
r4=s2.difference(s1)
print(r4)

{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2}
{5, 6}

In [10]:
s1={1,2,3,4}
s1.add(10)
s1

{1, 2, 3, 4, 10}

In [15]:
s1={1,2,3,4}
s2={3,4,5,6}
s1.difference(s2)
s1

{1, 2, 3, 4}

# conditional statements

In [24]:
a=int(input("Enter a number:"))
if(a%2==0):
    print("even")
else:
    print("odd")

Enter a number:45
odd

In [27]:
#ternary operator
#condition ? true part : false part

In [28]:
a=int(input())
print("even") if a%2==0 else print("odd")

11
odd

In [34]:
a=int(input("enter number:"))
if(a<7):
    if(a==0):
        print("Sunday")
    elif(a==1):
        print("Monday")
    elif(a==2):
        print("Tuesday")
    elif(a==3):
        print("Wednesday")
    elif(a==4):
        print("Thursday")
    elif(a==5):
        print("Friday")
    else:
        print("Saturday")
else:
    print("Invalid number")

enter number:6
Saturday

In [ ]:
n=int(input())
if n is in range 0,20:

In [46]:
n=int(input("Enter a number:"))
if(n>0 and n<20 ):
    if(n%2==0):
        print("weird number")
    else:
        print("normal number")
elif(n>=20 and n<30):
    print("normal number")
elif(n>=30):
    if(n%2!=0):
        print("normal number")
    else:
        print("weird number")
else:
    print("Invalid")

Enter a number:45
normal number

# dictionary

In [48]:
student_details={
    "rollnumber1" : {"name":"studentname1","class":"1"},
    "rollnumber2" : {"name":"studentname2","class":"2"},
    "rollnumber3" : {"name":"studentname3","class":"3"}
}
print(student_details["rollnumber1"])

{'name': 'studentname1', 'class': '1'}

In [3]:
d={}
d.update({"name":"studentname","class":"7"})
d

{'name': 'studentname', 'class': '7'}

In [4]:
d={}
d.update({"name":"studentname","class":"7"})
d.update({"name":"studentname1","class":"7"})
d

{'name': 'studentname1', 'class': '7'}

In [11]:
d={}
d.update({"key1":"value1"})
d.update({"key2":"value2"})
d.update({"key3":"value3"})
print(d)
print(d.get("key2"))

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
value2

In [13]:
d={"220":"Alekhya","221":"Pavitra","222":"Poojitha","223":"Reshma"}
print(d)
print(d.get("220"))

{'220': 'Alekhya', '221': 'Pavitra', '222': 'Poojitha', '223': 'Reshma'}
Alekhya

In [ ]:
d={"220":"Alekhya","221":"Pavitra","222":"Poojitha","223":"Reshma"}
print(d)
print(d.get("220"))

In [ ]:
""""
In cmd-->git init
git remote add origin "link from github"
git add .  (or) git add {filename}  -->(. adds all the files from local system to staging area)
git commit -m "a mandatory message"   ->(message like uploading a project,initial commit)
git push origin master
"""
#for updating a file
"""
git add .
git commit -m "changes in main.py"
git push origin master
"""

In [ ]:
#adding file to a particular branch in github
"""
git add .
git commit  -m "adding to alekhya branch"
git branch {branchname}
git push origin {branchname}
"""

In [15]:
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
print(list(range(1,10,2)))

[1, 3, 5, 7, 9]

In [17]:
for i in range(1,10):
    print(i)
print("hello")

1
2
3
4
5
6
7
8
9
hello

In [21]:
for i in range(1,10):
    print(i,end=",")
print("hello")

1,2,3,4,5,6,7,8,9,hello

In [22]:
list=[23,45,67,89]
for i in list:
    print(i,end=" ")    #\n is default

23 45 67 89

In [24]:
list=[1,2,3,4,5,6]
for i in list:
    print(i*i,end=" ")

1 4 9 16 25 36

In [25]:
list=[1,2,3,4,5,6]
for i in list:
    i=i**2
    print(i,end=" ")

1 4 9 16 25 36

In [41]:
l=[20,21,22,23,24]
for i in l:
    print(i,end=" ")
for i in range(0,len(l)):
    print(i,end=" ")

20 21 22 23 24 0 1 2 3 4

In [71]:
l=[1,2,3,4,5,6,7]
k=int(input("User input:"))
for i in range(len(l)):
    if k==l[i]:
        print(i)
        break

User input:3
2

In [73]:
l=[1,2,3,4,5,6,7]
k=int(input("User input:"))
temp=0
for i in range(len(l)):
    if k==l[i]:
        print(i)
        temp=True
        break
if temp==False:
    print("Not in list")

User input:9
Not in list

In [52]:
l=[]
for i in range(10):
    l.append(i*i)
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [53]:
l=[x for x in range(0,10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
l=[x*x for x in range(0,10)]
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [55]:
l=[x*x*x for x in range(0,10)]
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [56]:
l=[num for num in range(0,51) if num%2==0]
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [57]:
l=[num for num in range(1,100) if num%7==0 and num%11==0]
print(l)

[77]

In [58]:
i=0
while i<10:
    i=i+1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [78]:
l="132 3 4 5".split()
print(l)

['132', '3', '4', '5']

In [79]:
l="hello world".split()
print(l)

['hello', 'world']